name: ci-release
on:
  release:
    types:
      - created
jobs:
  release-notes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: release notes
        run: |
          TAG=${GITHUB_REF/refs\/tags\/}
          npx github-release-notes release --override --tags ${TAG}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GREN_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/cache@v1
        env:
          cache-name: m2
        with:
          path: ~/.m2/repository
          key: ${{ env.cache-name }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ env.cache-name }}-
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: version
        run: >-
          APP_SHA=$(git rev-parse --short ${GITHUB_SHA});
          APP_TAG=${GITHUB_REF/refs\/tags\/}
          APP_VERSION=${APP_TAG};
          echo "APP_SHA=${APP_SHA}" >> ${GITHUB_ENV};
          echo "APP_TAG=${APP_TAG}" >> ${GITHUB_ENV};
          echo "APP_VERSION=${APP_VERSION}" >> ${GITHUB_ENV};
      - name: mvn version
        run: mvn --batch-mode versions:set -DgenerateBackupPoms=false -DnewVersion=${APP_VERSION}
      - name: mvn deploy
        run: mvn --batch-mode deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      APP_VERSION: ${{ env.APP_VERSION }}
  update-dependency-in-cwa-verification-server:
    needs:
      - build
    uses: corona-warn-app/cwa-parent/.github/workflows/update-depending-project.yml@main
    with:
      APP_VERSION: ${{ needs.build.outputs.APP_VERSION }}
      REPO_OWNER: corona-warn-app
      REPO_NAME: cwa-verification-server
      LABEL_NAME: chore
      TARGET_BRANCH: master
    secrets:
      GH_ADMIN_TOKEN: ${{ secrets.GH_ADMIN_TOKEN }}
  update-dependency-in-cwa-quick-test-backend:
    needs:
      - build
    uses: corona-warn-app/cwa-parent/.github/workflows/update-depending-project.yml@main
    with:
      APP_VERSION: ${{ needs.build.outputs.APP_VERSION }}
      REPO_OWNER: corona-warn-app
      REPO_NAME: cwa-quick-test-backend
      LABEL_NAME: enhancement
      TARGET_BRANCH: master
    secrets:
      GH_ADMIN_TOKEN: ${{ secrets.GH_ADMIN_TOKEN }}
  update-dependency-in-cwa-testresult-server:
    needs:
      - build
    uses: corona-warn-app/cwa-parent/.github/workflows/update-depending-project.yml@main
    with:
      APP_VERSION: ${{ needs.build.outputs.APP_VERSION }}
      REPO_OWNER: corona-warn-app
      REPO_NAME: cwa-testresult-server
      LABEL_NAME: enhancement
      TARGET_BRANCH: master
    secrets:
      GH_ADMIN_TOKEN: ${{ secrets.GH_ADMIN_TOKEN }}
  update-dependency-in-cwa-dcc-server:
    needs:
      - build
    uses: corona-warn-app/cwa-parent/.github/workflows/update-depending-project.yml@main
    with:
      APP_VERSION: ${{ needs.build.outputs.APP_VERSION }}
      REPO_OWNER: corona-warn-app
      REPO_NAME: cwa-dcc-server
      LABEL_NAME: enhancement
      TARGET_BRANCH: main
    secrets:
      GH_ADMIN_TOKEN: ${{ secrets.GH_ADMIN_TOKEN }}
